@{
    ViewBag.Title = "Balance";
}


<h2 style="text-align:center;color:darkblue">Online Wallet System</h2>
<div class="form-group" align="center">
    <a href="@Url.Action("CheckBalance","HomePage")" class="btn btn-default">CheckBalance</a>
</div>
